<div class="main-content"
  style="padding-top:0px;min-height: calc(100% - 0px); margin-top: 0px;padding-left: 0px;padding-right: 0px;padding-bottom: 0px;">

  <div class="container-fluid">


    <div class="split left" [ngStyle]="{'background-size': bckgndImageSize}" [ngClass]="{
        'hidden_left_panel' : hide_left_panel === true, 
        'brand-background-image': company_name === 'Tiledesk',
        'no_brand-background-image': company_name !== 'Tiledesk'}">

      <!-- 
    // ---------------------------------------------------------------
    // Right logo
    // --------------------------------------------------------------- -->

      <div class="centered-horizontally" style="margin:auto">
        <!-- <img src="img_avatar2.png" alt="Avatar woman"> -->
        <!-- <h2>Jane Flex</h2>
      <p>Some text.</p> -->
        <!--  -->
        <div class="welcome-text" style="text-align: center;
        margin:auto;width:350px; 
        font-family: 'Montserrat', sans-serif; 
        color:#fff; font-size:24px; 
        line-height: 1.1em;
        font-weight: 400; 
        letter-spacing: 2px;
        padding-top:40px; 
        text-transform: uppercase;">
          {{'WelcomeTo' | translate }}
          <!-- <span>
            {{"LetSetUpYourTiledeskChat" | translate: tparams }}
          </span> -->

          <div class="left-logo">
            <a [href]="company_site_url" target="_blank">

              <img [src]="companyLogoAllWithe_Url" class="img-fluid" style="width: 80%;
              margin-top: 30px;
              margin-bottom: 30px;" />
            </a>
          </div>
        </div>
        <div style="width: 350px; margin: auto; text-align: center;">

          <h2 style="font-size: 42px;font-family: 'Montserrat', sans-serif; color:#fff;  line-height: 1.2em;">

            {{"LetSetUpYourTiledeskChat" | translate: tparams }}

          </h2>

        </div>
        <div style="width: 250px;
        margin: auto;
        text-align: center;">
          <h2
            style="font-size: 26px;font-family: 'Montserrat', sans-serif;color:#fff; text-align:left; line-height: 1.2em;">
            {{ "AlreadyHaveAnAccount" | translate }}
          </h2>
          <button (click)="goToSigninPage()" type="submit" class="btn btn-white"
            style="height: 56px;padding-left: 107px;padding-right: 107px;">
            Login
          </button>
        </div>
      </div>
    </div>

    <div class="split right">
      <!-- ALERT WITH ERROR MESSAGE -->
      <!-- <div class="row" *ngIf="signin_errormsg" [ngStyle]="{'display':display}" style="transform: translateY(30%);">
        <div class="col-md-4 col-md-offset-4" align="center">
          <div class="alert alert-danger" style="max-width: 400px;">
            <button type="button" aria-hidden="true" class="close" (click)="dismissAlert()">×</button>
            <div class="glyphicon glyphicon-exclamation-sign" style="display:table-cell; font-size:1.2em"></div>
            <div style="padding-left: 5px; display:table-cell;">{{ signin_errormsg }}</div>
          </div>
        </div>
      </div> -->
      <!-- 
    // ---------------------------------------------------------------
    // Right logo
    // --------------------------------------------------------------- -->

      <div class="right-logo" style="text-align: center;">
        <a [href]="company_site_url" target="_blank">

          <img [src]="companyLogoBlack_Url" class="img-fluid" style="max-width: 150px; height: auto;" />
        </a>
      </div>
      <div class="centered">

        <div class="signin-title" style="text-align:center">
          <h2 style="font-family: 'Montserrat', sans-serif; font-weight:400">
            {{ 'CreateAFreeAccount' | translate}}
          </h2>

        </div>
        <div class="login-container" style="padding-top: 15px;">

          <form [formGroup]="userForm" (ngSubmit)="signup()" autocomplete="off">


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <label for="email">Email <span style="color:#ff5252">*</span></label>
            <input type="email" class="input" formControlName="email" required autocomplete="off" autocorrect="off"
              autocapitalize="off" spellcheck="false">

            <label for="password">Password <span style="color:#ff5252">*</span></label>
            <input type="text" id="password" class="input secure" formControlName="password" required>
            <div *ngIf="formErrors.password" class="is-danger" translate>
              {{ formErrors.password }}
            </div>

            <label for="cnpj">CNPJ <span style="color:#ff5252">*</span></label>
            <input #box1 (blur)="getData(box1.value)" type="text" id="cnpj" class="input" formControlName="cnpj" required autocomplete="off"
              autocorrect="off" autocapitalize="off" spellcheck="false">

            <label for="firstname">
              <!-- First Name -->
              {{ "Nome da Empresa" | translate }} <span style="color:#ff5252">*</span>
            </label>
            <input type="text" id="firstname" class="input" formControlName="firstname" required>
            <div *ngIf="formErrors.firstname" class="is-danger" translate>
              {{ formErrors.firstname }}
            </div>




          

            <label for="endereco">Endereço <span style="color:#ff5252">*</span></label>
            <input type="text" id="endereco" class="input" formControlName="endereco" required autocomplete="off"
              autocorrect="off" autocapitalize="off" spellcheck="false">


            <label for="bairro">Bairro <span style="color:#ff5252">*</span></label>
            <input type="text" id="bairro" class="input" formControlName="bairro" required autocomplete="off"
              autocorrect="off" autocapitalize="off" spellcheck="false">


            <label for="cidade">Cidade <span style="color:#ff5252">*</span></label>
            <input type="text" id="cidade" class="input" formControlName="cidade" required autocomplete="off"
              autocorrect="off" autocapitalize="off" spellcheck="false">

            <label for="estado">Estado <span style="color:#ff5252">*</span></label>
            <input type="text" id="estado" class="input" formControlName="estado" required autocomplete="off"
              autocorrect="off" autocapitalize="off" spellcheck="false">

            <label for="n">Número° <span style="color:#ff5252">*</span></label>
            <input type="text" id="n" class="input" formControlName="n" required autocomplete="off" autocorrect="off"
              autocapitalize="off" spellcheck="false">

            <label for="complemento">Complemento <span style="color:#ff5252">*</span></label>
            <input type="text" id="complemento" class="input" formControlName="complemento" required autocomplete="off"
              autocorrect="off" autocapitalize="off" spellcheck="false">

              <label for="responsavel">Reponsável <span style="color:#ff5252">*</span></label>
              <input type="text" id="responsavel" class="input" formControlName="responsavel" required autocomplete="off"
                autocorrect="off" autocapitalize="off" spellcheck="false">
  
              <label for="emaildoresponsavel">Email do Reponsável <span style="color:#ff5252">*</span></label>
              <input type="text" id="emaildoresponsavel" class="input" formControlName="emaildoresponsavel" required autocomplete="off"
                autocorrect="off" autocapitalize="off" spellcheck="false">
  
              <label for="telefone">Telefone <span style="color:#ff5252">*</span></label>
              <input type="text" id="telefone" class="input" formControlName="telefone" required autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="false">
  
              <label for="nota">Observação <span style="color:#ff5252">*</span></label>
              <input type="text" id="nota" class="input" formControlName="nota" required autocomplete="off"
                autocorrect="off" autocapitalize="off" spellcheck="false">



            <div *ngIf="formErrors.email" class="is-danger" translate>
              {{ formErrors.email }}
            </div>


            <!-- TERMS AND CONDITION -->

            <label class="container" for="terms">
              {{ "iAgree" | translate }}
              <a *ngIf="display_terms_and_conditions_link" style="color: #03a5e8" target="_blank"
                [href]="terms_and_conditions_url">
                {{ "TermsAndConditions" | translate }}
              </a>
              <span *ngIf="display_terms_and_conditions_link"> {{ "And" | translate }} </span>
              <a style="color: #03a5e8" target="_blank" [href]="privacy_policy_url">
                {{ privacy_policy_link_text }}
              </a>
              <!-- [checked]="checkModel" -->
              <input type="checkbox" formControlName="terms" id="terms" (change)="onChange($event)" required />
              <span class="checkmark"></span>
            </label>

            <div *ngIf="formErrors.terms" class="is-danger" translate>
              {{ formErrors.terms }}
            </div>
            <!-- </div> -->

            <!-- <div *ngIf="userForm.valid" class="notification is-success">Form is valid</div> -->
            <!-- SUBMIT -->
            <button type="submit" class="btn signup-button" [disabled]="!userForm.valid">
              <span *ngIf="!showSpinnerInLoginBtn">

                Criar Conta
              </span>
              <span *ngIf="showSpinnerInLoginBtn"> <i class="fa fa-spinner fa-spin"></i></span>
            </button>
         

            <div class="left-panel-signin-link" style="margin-top:16px; text-align: center">
              <a routerLink="/login" style="color: #666666; font-size: 1.1em">
                {{ "AlreadyHaveAnAccount" | translate }}
                <span style="color: #03a5e8">Login</span>
              </a>
            </div>

          </form>

        </div>
        <!-- ./login-container -->

      </div>
    </div>

  </div>
</div>